@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mobile-banner.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header #particles-js {
  position: absolute;
  top: 3em;
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 3em;
  display: block;
  background-color: #000;
  color: #fff;
  z-index: 1;
}

.navbar.active {
  height: 100%;
}

.navbar .brand {
  display: block;
  height: 3em;
  line-height: 3em;
  padding: 0px 1em;
}

.navbar #toggle-nav {
  position: absolute;
  cursor: pointer;
  line-height: 3em;
  font-weight: 900;
  right: 20px;
  top: 0;
  transition: all 1s ease-in-out;
}

.navbar .brand a {
  text-decoration: none;
  color: #fff;
  background-color: inherit;
  font-weight: bold;
  font-size: 1.5em;
}

.navbar .nav {
  margin-left: -100%;
  width: 100%;
  list-style: none;
  transition: all 0.5s ease-in-out;
}

.navbar.active .nav {
  margin-left: 0;
}

.navbar .nav li {
  display: block;
  line-height: 3em;
  margin: 0;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.navbar .nav li:hover {
  background-color: #fff;
  color: #000;
  padding-left: 10vw;
}

.nav li a {
  display: block;
  padding: 0 1.5em;
  text-decoration: none;
  color: inherit;
}

#banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: grid;
  align-self: center;
}

/* Make sure that parent element has display: grid property */

.center {
  align-self: center;
  justify-self: center;
  text-align: center;
}

#banner h1 {
  font-size: 1.5rem;
}

#banner .typing h1 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1rem auto;
}

#banner .typing span::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 2.5rem;
  margin-left: 0.25rem;
  background-color: #fff;
  animation: 0.5s blink step-end infinite;
}

#banner p {
  padding: 0.5rem;
  font-weight: 100;
}

#banner ul.social {
  list-style: none;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}

#banner .social li {
  display: inline-block;
}

#banner .social li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#banner .social li:nth-child(1) a:hover {
  color: #25d366;
}

#banner .social li:nth-child(2) a:hover {
  color: #410093;
}

#banner .social li:nth-child(3) a:hover {
  color: #3b5999;
}

#banner .social li:nth-child(4) a:hover {
  color: #e4405f;
}

#banner .social li a i.fab {
  font-size: 2em;
}

section.section {
  padding: 3rem 2rem;
  text-align: center;
}

section.section:nth-child(even) {
  background-color: #fff;
  color: #000;
}

section.section:nth-child(odd) {
  background-color: #000;
  color: #fff;
}

section.section h1 {
  margin-bottom: 2rem;
}

/* CSS Property above tablet screen */

@media only screen and (min-width: 48em) {
  .container {
    width: 80vw;
    margin: auto;
  }
  header {
    background-image: url("../img/desktop-banner.jpeg");
  }
  header::before {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .navbar {
    width: 100vw;
    height: 3em;
    display: grid;
    grid-template-columns: 5% 25% auto 5%;
    grid-template-areas: ". brand nav .";
    border-radius: 5px;
    z-index: 100;
  }
  .navbar .brand {
    grid-area: brand;
    cursor: pointer;
  }
  #toggle-nav {
    display: none;
  }
  .navbar .nav {
    grid-area: nav;
    justify-self: end;
    margin-left: 0%;
    width: auto;
    list-style: none;
  }
  .navbar .nav li {
    display: inline-block;
    border-bottom: none;
  }
  .navbar .nav li:hover {
    padding-left: 0;
  }
  #banner h1 {
    font-size: 1.5rem;
  }
  #banner .typing h1 {
    font-size: 3rem;
    white-space: nowrap;
  }
  #banner .typing span::after {
    height: 3rem;
    margin-left: 0.5rem;
  }
  #banner p {
    padding: 1rem;
  }
  #banner ul.social {
    margin: 2rem auto;
  }
  #banner .social li a {
    margin: 2em 1em;
    padding: 1em;
  }
}

/* Animations */

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #fff;
  }
}